*{
    padding: 0;
    margin: 0;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: rgb(197, 194, 190);
}
/* Content 1 */
.container-fluid{
    display: flex;
}
.container-fluid .cotain1,
.cotain2{
    width: 50%;
    height: 100%;
}
.container-fluid .cotain1 h2{
    color: white;
    text-align: left;   
    padding-top: 20px;
    padding-left: 110px;
}
.container-fluid .cotain2 .row {
    display: flex;
    float: right;
}
.navbar-nav {
    padding-right: 50px;
}
.container-fluid a{
    padding-top: 14px;
}
/* Content 1 */

/* Content 2 */
.container{
    height: 500px;
    background-color: rgb(163, 153, 153);
}
/* Content 2 */